<div class="flex flex-wrap align-items-center justify-content-center">
  <!-- Add  -->
  <div class="shadow-4 m-3 text-center p-3 border-round-sm h-10rem
    w-20rem flex align-items-center
    font-semibold justify-content-center">
    <a [routerLink]="['task/add']">
      <i class="pi pi-plus font-bold text-2xl"> </i>
      <p class="text-1xl">Add Task</p>
    </a>
  </div>

</div>

<div class="flex flex-wrap align-items-center justify-content-center">
  <!-- List  -->
  <div class="shadow-4 m-3 text-center p-3 border-round-sm h-10rem
    w-20rem flex align-items-center
    font-semibold justify-content-center">
    <a [routerLink]="['task/list']">
      <i class="pi pi-list font-bold text-2xl"> </i>
      <p class="text-1xl">List Task</p>
    </a>
  </div>

</div>
